---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <div class="py-8 space-y-8 mx-auto">
        <h1 class="text-3xl font-semibold">Impressum & Kontakt</h1>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="space-y-4">
                <p class="font-semibold">
                    InDeKo Innovationszentrum Deutschland Korea – The
                    Korean-German Innovation Hub e.V
                </p>

                <p>und</p>

                <p class="font-semibold">
                    InDeKo Innovationszentrum Deutschland Korea – The
                    Korean-German Innovation Hub GmbH
                </p>

                <p>
                    Königstraße 1<br />
                    01097 Dresden
                </p>

                <p>
                    vertreten durch:<br />
                    Dr. Christoph Hollenders<br />
                    Telefon: +49 351 80098 33
                </p>

                <p>
                    <span class="font-semibold">InDeKo GmbH:</span><br />
                    Handelsregisternummer: HRB 37900 (Amtsgericht Dresden)<br />
                    UmsatzSt-Id: DE319129461<br />
                    Geschäftsführer: Prof. Dr. Hubert Jäger<br />
                </p>
            </div>
        
            <div class="rounded-2xl overflow-hidden md:col-span-2">
                <iframe
                    class="w-full h-full"
                    style="pointer-events: none;"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2507.5716508285454!2d13.737733816267557!3d51.060996679564255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4709cf6b174beb9d%3A0x31fddfd07784e108!2sK%C3%B6nigstra%C3%9Fe+1%2C+01097+Dresden!5e0!3m2!1sde!2sde!4v1526656673716"
                    allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</Layout>
