---
import CopyRight from "./copy-right.svelte";
---

<footer class="bg-[#181828] px-4 md:px-8 py-8 text-white flex justify-between">
    <CopyRight client:visible />

    <div class="flex gap-2">
        <a href="/datenschutz">Datenschutz</a>
        <span>|</span>
        <a href="/impressum">Impressum</a>
    </div>
</footer>
