---
import Footer from "@/components/footer.astro";
import { VERSION } from "astro:env/server";

import "@/styles/global.css";

import Header from "@/components/header.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="generator" content={Astro.generator} />
        <meta name="version" content={VERSION} />
        <title>InDeKo | Innovationszentrum Deutschland - Korea</title>
    </head>

    <body class="min-h-svh flex flex-col">
        <Header />

        <main class="px-4 md:px-8 grow max-w-5xl mx-auto">
            <slot />
        </main>

        <Footer />
    </body>
</html>
